.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 80px;
    padding-bottom: 0%;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    color: #383838;
    font-size: 10px;
    font-weight: 100;
}
.footer-logo img{
    width: 100px;
    
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 40px;
    color: #252525;
    font-size: 16px;
}
.footer-links li{
    cursor: pointer;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 16px;
}
.footer-copyright hr{
    width: 100%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #c7c7c7;
}
@media(max-width:800px){
    .footer-links{
        gap: 10px;
        font-size: 14px;
    }
}